body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: #fffafa;
}

.page {
    height: 100vh;
    width: 100vw;
}

.header {
    font-size: 4em;
    margin: 1.5em auto;
    width: fit-content;
    color: #444;
    text-align: center;
}

.body {
    font-size: 2em;
    margin: 5em auto;
    width: 80%;
    color: #666;
    text-align: center;
}

.footer {
    font-size: 2em;
    margin: 1.5em auto;
    width: fit-content;
    color: #888;
    text-align: center;
}
